.page-home {
  @apply pb-6;
}
.main-slider {
  @apply relative mb-6;
  height: 350px;
}

.main-slider img {
  @apply absolute h-full rounded object-cover lg:rounded-lg;
}

.main-slider-text-group {
  @apply absolute left-1/2 top-1/2 w-full p-4 text-center text-white lg:p-0;
  transform: translate(-50%, -50%);
  max-width: 650px;
}

.main-slider-text-group p {
  @apply text-base;
}

.main-slider-text-group h1 {
  @apply my-4 text-3xl font-bold lg:text-[40px];
}

.main-slider-text-group h3 {
  @apply font-bold;
}

.news-label {
  @apply mb-3.5 flex gap-1.5;
}

.section-filter {
  @apply mb-6 flex flex-col justify-between gap-4 sm:mb-5 lg:flex-row lg:gap-6;
}

.section-filter .search-label {
  @apply flex w-auto basis-7/12 flex-wrap gap-3 opacity-75 sm:flex-nowrap;
}

.section-filter .search-label h2 {
  @apply flex w-full break-words;
}

.section-filter .search-label p {
  @apply flex items-center whitespace-nowrap sm:h-[42px];
}

.section-filter .component-filter {
  @apply w-full;
}

.section-filter .filter {
  @apply flex flex-col justify-end gap-3 sm:flex-row;
}
